modules = ["python-3.11", "bash", "web", "nodejs-20"]
run = "python app.py"

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "python app.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 5001
externalPort = 3000
exposeLocalhost = true
