body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    overflow: hidden;
}

.container {
    width: 90%;
    max-width: 800px;
    max-height: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: white;
    overflow-y: auto;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

h1 {
    margin: 0;
    font-size: 1.5em;
}

#totalResult {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    margin: 20px 0;
    font-size: 1.2em;
    color: #333;
    flex-wrap: wrap; 
    width: 100%; 
}

.card-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;  
}

.card-stat span {
    font-weight: bold;
    color: #4CAF50;
}

.card-stat .label {
    font-size: 1.1em;
    margin-top: 5px;
    color: #333;
}

#cardResult {
    display: flex;
    justify-content: flex-start; 
    flex-wrap: nowrap;         
    padding: 10px;
    width: 100%;
    overflow-x: auto;         
}


#cardResult img {
    width: 150px;              
    height: 150px;        
    margin: 5px;
    object-fit: cover;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.round-btn {
    border-radius: 8px;
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.round-btn:hover {
    background-color: #45a049;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.long-btn {
    border-radius: 8px;
    border: none;
    background-color: #4CAF50;
    color: white;
    width: 250px;
    padding: 10px;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.long-btn:hover {
    background-color: #45a049;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#cardList {
    list-style: none;
    padding: 0;
    margin: 0;
}

#srPlusCostResult {
    margin-top: 15px;
    font-size: 14px;
}