/* ページ全体のスタイル */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    overflow: hidden;
}

/* コンテナスタイル */
.container {
    width: 90%;
    max-width: 800px;
    max-height: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: white;
    overflow-y: auto;
    box-sizing: border-box;
}

/* ヘッダースタイル */
header {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

h1 {
    margin: 0;
    font-size: 1.5em;
}

/* 結果表示エリア */
#totalResult {
    display: flex;
    justify-content: flex-start;  /* 左寄せ */
    align-items: center;          /* 垂直中央 */
    margin: 20px 0;
    font-size: 1.2em;
    color: #333;
    flex-wrap: wrap;              /* 内容が多すぎる場合の改行防止 */
    width: 100%;                  /* エリア幅を100%に設定 */
}

/* 各カード統計のスタイル */
.card-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;  /* カード結果間の左右マージン */
}

.card-stat span {
    font-weight: bold;
    color: